[Unit]
Description=Razer JIT Hypershift Modifier Layer Daemon
After=multi-user.target

[Service]
Type=forking
ExecStart=/usr/bin/razer_driver
Restart=always
# Wait 5 seconds before restarting if the keyboard gets disconnected
RestartSec=5s

[Install]
WantedBy=multi-user.target